<!DOCTYPE html>
<html lang="en">

<head>
 <meta charset="UTF-8">
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <title>Email Verification</title>
 <!-- <script src="https://cdn.tailwindcss.com"></script> -->
 <style>
  body {
   background-color: #f7fafc;
   margin-top: 20px;
   display: grid;
   place-items: center;
  }

  section {
   margin-top: 5rem;
   padding: 2.5rem 1.25rem;
   border-radius: 0.25rem;
   box-shadow: 10px 10px 10px 10px #222;
   background-color: white;
  }

  .img-container {
   padding: 0 1.25rem;
   display: grid;
   place-items: center;
  }

  .img {
   width: 11rem;
   height: 11rem;
   border-radius: 100%;
  }

  .email-content {
   margin-top: 5rem;
   text-align: center;
  }

  .title {
   font-size: 1.25rem;
   line-height: 1.75rem;
   margin-top: 0.75rem
  }

  .title span {
   font-size: 1.5rem;
   line-height: 2rem;
   font-weight: 700;
   --tw-text-opacity: 1;
   color: rgb(3 105 161 / var(--tw-text-opacity));
  }

  p {
   padding-top: 1.25rem;
   --tw-text-opacity: 1;
   color: rgb(107 114 128 / var(--tw-text-opacity));
  }

  button {
   margin-top: 1.25rem;
   --tw-bg-opacity: 1;
   background-color: rgb(3 105 161 / var(--tw-bg-opacity));
   border-radius: 0.375rem;
   font-weight: 700;
   --tw-text-opacity: 1;
   color: rgb(255 255 255 / var(--tw-text-opacity));
   padding: 0.5rem;
   cursor: pointer;
  }
 </style>

</head>

<body>

 <section>
  <div class="img-container">
   <img src="https://i.pinimg.com/564x/03/54/58/035458bcabe26060e9deaab70de70ce8.jpg" alt="verifyEmail" class="img">
  </div>

  <div class="email-content">
   <h1 class="title">hello <span>
     <%= name %>
    </span> we sent to your this email to reset your password</h1><br>
   <p>Please Click here to reset your password :</p>

   <a target="_blank" href="<%= resetPasswordLink %>">
    <button>
     confime link
    </button>
   </a>
  </div>

  <br>
  <p>

  </p>

 </section>

</body>

</html>